<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/app/tabs/gifts"></ion-back-button>
    </ion-buttons>
    <ion-title>Edit Gift</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <ion-grid>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-grid>
            <ion-row>
              <ion-col>
                <ion-item>
                  <ion-label position="floating">Name</ion-label>
                  <ion-input
                    type="text"
                    autocomplete
                    autocorrect
                    formControlName="name"
                  ></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col>
                <ion-item>
                  <ion-label position="floating">Price</ion-label>
                  <ion-input type="number" formControlName="price"></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col>
                <ion-button
                  color="primary"
                  class="submit-btn"
                  expand="full"
                  type="submit"
                  [disabled]="!form.valid"
                  >Save</ion-button
                >
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
