<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="login-logo">
    <img src="assets/img/gifticon.svg" alt="Ionic logo" width="150px" />
  </div>

  <form [formGroup]="form" (ngSubmit)="onLogin()" novalidate>
    <ion-list>
      <ion-item>
        <ion-label position="stacked" color="primary">Username</ion-label>
        <ion-input
          formControlName="username"
          name="username"
          type="text"
          spellcheck="false"
          autocapitalize="off"
        >
        </ion-input>
      </ion-item>

      <app-error-block
        *ngIf="form.get('username').invalid && submitted === true"
        errorMessage="Username is required"
      ></app-error-block>

      <ion-item>
        <ion-label position="stacked" color="primary">Password</ion-label>
        <ion-input formControlName="password" name="password" type="password">
        </ion-input>
      </ion-item>

      <app-error-block
        *ngIf="form.get('password').invalid && submitted === true"
        errorMessage="Password is required"
      ></app-error-block>

      <app-error-block
        *ngIf="serverErrors && serverErrors.length > 0"
        [errorMessage]="serverErrors[0]"
      ></app-error-block>
    </ion-list>

    <ion-row>
      <ion-col>
        <ion-button
          [disabled]="form.invalid || loading"
          type="submit"
          expand="block"
        >
          <span *ngIf="!loading">Login</span>
          <ion-spinner *ngIf="loading" color="light"></ion-spinner>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button
          (click)="onSignup()"
          color="light"
          expand="block"
          type="button"
        >
          Signup
        </ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
