<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="login-logo">
    <img src="assets/img/appicon.svg" alt="Ionic logo" />
  </div>

  <form [formGroup]="form" (ngSubmit)="onLogin()" novalidate>
    <ion-list>
      <ion-item>
        <ion-label position="stacked" color="primary">Username</ion-label>
        <ion-input
          formControlName="username"
          name="username"
          type="text"
          spellcheck="false"
          autocapitalize="off"
        >
        </ion-input>
      </ion-item>

      <ion-text color="danger">
        <p
          [hidden]="form.get('username').valid || submitted == false"
          class="ion-padding-start"
        >
          Username is required
        </p>
      </ion-text>

      <ion-item>
        <ion-label position="stacked" color="primary">Password</ion-label>
        <ion-input formControlName="password" name="password" type="password">
        </ion-input>
      </ion-item>

      <ion-text color="danger">
        <p
          [hidden]="form.get('password').valid || submitted == false"
          class="ion-padding-start"
        >
          Password is required
        </p>
      </ion-text>

      <ion-text color="danger" *ngIf="serverErrors && serverErrors.length > 0">
        <p class="ion-padding-start">
          {{ serverErrors[0] }}
        </p>
      </ion-text>
    </ion-list>

    <ion-row>
      <ion-col>
        <ion-button
          [disabled]="form.invalid || loading"
          type="submit"
          expand="block"
        >
          <span *ngIf="!loading">Login</span>
          <ion-spinner *ngIf="loading" color="light"></ion-spinner>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button
          (click)="onSignup()"
          color="light"
          expand="block"
          type="button"
        >
          Signup
        </ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
