<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Gift List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-sliding *ngFor="let gift of gifts">
      <ion-item routerLink="/" [ngClass]="{'is-bought':gift.bought}">
        <ion-label>
          <h2>
            <strong>
              {{ gift.name }}
            </strong>
            <p>{{ gift.recipient ? gift.recipient.name : "N/A" }}</p>
          </h2>
        </ion-label>
        <ion-icon
          *ngIf="gift.bought"
          slot="end"
          name="gift"
          color="success"
        ></ion-icon>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option color="danger">
          <ion-icon
            slot="icon-only"
            name="trash"
            (click)="onDelete(gift.id)"
            expandable
          ></ion-icon>
        </ion-item-option>
        <ion-item-option>
          <ion-icon
            slot="icon-only"
            name="create"
            (click)="onEdit(gift.id)"
            expandable
          ></ion-icon>
        </ion-item-option>
      </ion-item-options>

      <ion-item-options side="start" (ionSwipe)="toggleBought(gift.id)">
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button color="primary" routerLink="/app/tabs/gifts/new">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
